* {
  margin: 0;
  padding: 0;
}
html, body {
  font-family: sans-serif;
  width: 100vw;
  min-width: 320px;
  overflow-x: hidden;
  background: #101013;
}
/* MAIN AREA */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: #101013;
}
#planetaryxr {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.count {
  display: flex;
  justify-content: center;
  /* background: #101013; */
  color: #ffffff;
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* padding: 0 0 2em 0; */
  z-index: 3;
}
.infopanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0 0 3em 0;
  background: #101013;
  box-shadow: 0 10px 15px #101013;
  z-index: 1;
}
.list {
  background: #ffffff;
  width: 100vw;
  max-width: 20em;
  color: #101013;
  margin: 1em 0 1em 0;
  padding: 2em;
}
#summary {
  align-self: center;
  z-index: 999;
}
.count p {
  line-height: 2em;
}
h1 {
  font-size: 7em;
}
h2 {
  font-size: 2em;
  margin: 0 0 0.5em 0;
}
P {
  font-size: 1em;
}
p.about {
  margin: 3em 0 0 0;
  color: #ffffff;
}
a:link, a:visited {
  text-decoration: none;
  border-bottom: 1px dotted #BF684D;
  color: #BF684D;
  transition: 200ms;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  border-bottom: 1px dotted #DF8A6B;
  color: #DF8A6B;
  transition: 400ms;
}
ul {
  list-style: none;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 1em;
  padding: 0.5em 0;
  background: #101013;
  z-index: 0;
}
footer p {
  color: #ffffff;
  font-size: 0.8em;
  text-align: right;
  padding: 0 2em 0 0;
}

/* LOADER */
#load-overlay {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: #101013;
  z-index: 9999;
}
#loader i {
  text-align: center;
  margin: -0.5em 0 0 -0.5em;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 5em;
}