* {
  margin: 0;
  padding: 0;
}
html, body {
  font-family: sans-serif;
  width: 100vw;
  min-width: 320px;
  background: #101013;
}

/* MAIN AREA */
main {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: calc(100vh - 2em);
}
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "count count count count count count count count count"
    "count count count count count count count count count"
    "count count count count count count count count count"
    "name  name  name  orig  type  launc launc arriv arriv";
  color: #ffffff;
}
.count-area {
  grid-area: count;
  background: #101013;
  text-align: center;
  align-self: center;
}
.count-area p {
  line-height: 2em;
}
.name-area {
  grid-area: name;
  padding: 0.5em 0 0.5em 0.5em;
  background: #202025;
}
.origin-area {
  grid-area: orig;
  padding: 0.5em 0;
  background: #202025;
}
.type-area {
  grid-area: type;
  padding: 0.5em 0;
  background: #202025;
}
.launch-area {
  grid-area: launc;
  padding: 0.5em 0;
  background: #202025;
}
.arrival-area {
  grid-area: arriv;
  padding: 0.5em 0.5em 0 0.5em;
  background: #202025;
}
h1 {
  font-size: 7em;
}
P {
  font-size: 1em;
}
a:link, a:visited {
  text-decoration: none;
  border-bottom: 1px dotted #adadb5;
  color: #adadb5;
  transition: 200ms;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  border-bottom: 1px dotted #ffffff;
  color: #ffffff;
  transition: 400ms;
}
ul {
  list-style: none;
}
li.header {
  font-weight: bold;
  padding: 0 0 0.5em 0;
}

/* FOOTER */
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1em;
  padding: 0.5em 0;
  justify-content: right;
  background: #101013;
}
footer p {
  color: #ffffff;
  font-size: 0.8em;
}