@import "./base.scss";

#app {
  font-weight: normal;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
